@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-teal-500 text-white rounded md:bg-transparent md:text-black md:rounded-none md:border-teal-500 md:border-b-2;
}

.navbar-link {
  @apply block py-2 pl-3 pr-4 md:p-0 hover:md:border-b-2 hover:border-teal-500 transition;
}

.pagination-active {
  @apply border-b-4 border-teal-500 text-teal-500;
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
  border: 8px solid #0000;
  border-radius: 50%;
  border-color: #e4e4ed #0000;
  animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  margin: 4px;
  border: inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color: #0694a2 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin: 16px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}
